<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Our Iot services provide you with 24/7 health surveillance.</p>
                <a href="#" class="btn btn-default btn-xl">Give us a call!</a>
            </div>
        </div>
    </div>
</section>

