<aside class="bg-light">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 call-to-action">
                <h2 class="subscription-heading">Monthly subscriptions</h2>
                <hr class="primary">
                <div class="container">
                    <h2>We have precise plans that can meet the needs for anytime of establishment.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 text-center">
                <div class="product">
                    <h4 class="product-label">Personal</h4>
                    <h3>
                        <strong>$29.99/MO</strong>
                    </h3>
                    <p>The perfect plan for anyone's home.</p>
                    <hr>
                    <p>Full home beacon installation</p>
                    <hr>
                    <p>24/7 monitoring</p>
                    <hr>
                    <p>Online tracking</p>
                    <hr>
                    <%= link_to "Details/Purchase", new_charge_path, class: "btn btn-default btn-xl wow fadeInDown" %>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="product">
                    <h4 class="product-label">Business</h4>
                    <h3>
                        <strong>$49.99/MO</strong>
                    </h3>
                    <p>The best plan for any size business.</p>
                    <hr>
                    <p>Full store beacon installation</p>
                    <hr>
                    <p>24/7 monitoring</p>
                    <hr>
                    <p>Online tracking</p>
                    <hr>
                    <%= link_to "Details/Purchase", new_charge_path, class: "btn btn-default btn-xl wow fadeInDown" %>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="product">
                    <h4 class="product-label">Corporate</h4>
                    <h3>
                        <strong>$99.99/MO</strong>
                    </h3>
                    <p>The plan for any largescale size DC/facility.</p>
                    <hr>
                    <p>Full beacon installation</p>
                    <hr>
                    <p>24/7 monitoring</p>
                    <hr>
                    <p>Online tracking</p>
                    <hr>
                    <%= link_to "Details/Purchase", new_charge_path, class: "btn btn-default btn-xl wow fadeInDown" %>
                </div>
            </div>
        </div>
    </div>
</aside>

