<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>We can help you!</h2>
            <a href="#" class="btn btn-default btn-xl wow flip">Call us today!</a>
        </div>
    </div>
</aside>

